<h1>単位落とすな</h1>
<button>スタート</button>
<button>遊び方</button>

<h1>Sample#index</h1>
<p>Find me in app/views/sample/index.html.erb</p>
<%= react_component("HelloWorld", { message: "Finish SetUp of React with TypeScript!" }) %>