/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 
↓使用する配色
https://colorhunt.co/palette/96ceb4ffeeadd9534fffad60
 */

:root {
    --custom-color1: #96CEB4;
    --custom-color2: #FFEEAD;
    --custom-color3: #D9534F;
    --custom-color4: #FFAD60;
}

body {
  font-family: "游教科書体 横用","YuKyokasho Yoko";
  height: 100vh;
  background-color: var(--custom-color1);
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}